in here, you can get to know about how to use this repository without license

1. to use this data in this repository, you need to label our brand name on your projects with letters. It doesn't matter how it size in your program

2. Let us first know to start using our codes before using it.

3. to get in touch with us. you can find us by different social networks.

thanks for your patience to reach out untill this part.
